
/* Mode gelap khusus */
html.dark {
  background-color: #1f2937;
  color: #f9fafb;
}

html.dark body {
  background: linear-gradient(to bottom right, #4b5563, #1f2937);
}

html.dark .bg-white {
  background-color: #374151 !important;
  color: #f3f4f6;
}

html.dark input,
html.dark select,
html.dark button {
  background-color: #4b5563;
  color: #f3f4f6;
  border-color: #6b7280;
}

html.dark .text-pink-600 {
  color: #f9a8d4 !important;
}
